.rightSignup{
    height: 586px   ;
    width: 458px;
    border: solid 2px ;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightSignup{
    height: 716px;
}
.inputNames{
display: flex;
align-items: center;
justify-content:space-between;

}

#name{
    width: 48%;
}
.sighupTitle{
color: black;
display: flex;
justify-content: center;
align-items: center;
margin-top: -80px;
    margin-bottom: 20px;
}
.noAcc{
    color: black;
}